<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form">
        <h2>Send Message</h2>
        <form id="form" method="POST">
            {% csrf_token %}
            {{ forms }}
            <br>
            <button type="submit" class="btn btn-primary tombol">Submit</button> 
            <input type="button" value="Keluar" class="btn btn-primary tombol" onclick="history.back()">
        </form>
        
    </div>
    <div class="dataBase">
        {% for satuData in data %}
        <p> Judul Proyek : {{ satuData.judulProyek }}</p>
        <p> Tanggal : {{ satuData.tanggal }}</p>
        <p> Deskripsi : {{ satuData.deskripsi }}</p>
        <p> Tempat : {{ satuData.tempat }}</p>
        <p> Kategori : {{ satuData.kategori }}</p>
        {% endfor %}
    </div>
    
</body>
</html>