{% extends 'base.html' %}
<html>
<head>
    {% block heading %}
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="{% static 'story4.css' %}">
    {% endblock heading %}
</head>
<body>
    {%block content%}
                
    <p class="isi">
            Hai semua, nama saya Reka <br>
            Saya juga memiliki beberapa bakat loh, contohnya seperti:<br>
	            - Bisa membuat program yang canggih dan efisien<br>
	            - Bisa mendesain dengan bagus<br>
	            - Bisa membuat web dengan baik dan juga canggih<br>
	            - Andal dalam bidang matematika<br>

    </p>
    {% endblock %}

</body>
</html>