{% extends 'base.html' %}
<html>
<head>
    {% block heading %}
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="{% static 'story4.css' %}">
    {% endblock heading %}
</head>
<body>
    {%block content%}
               
                    <p class="isi">
                            Hai semua, nama saya Reka <br>
                            Saya memiliki beberapa Hobi, jika sama mungkin kita bisa melakukannya<br>
                            bersama. Contoh hobby saya adalah:<br>
                                - Bermain game offline maupun online<br>
                                - Olahraga bulutangkis dan juga lari<br>
                                - Tidur di rumah dalam waktu senggang<br>
                                - Membuat program<br>       
                    </p>
                </div>
                
    {% endblock %}                     
                    
         
</body>
</html>