{% extends 'base.html' %}
<html>
<head>
    {% block heading %}
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="{% static 'story4.css' %}">
    {% endblock heading %}
</head>
<body>
    {%block content%}
                
                    <p class="isi">
                            Hai semua, nama saya Reka <br>
                            Saya juga memiliki beberapa riwayat tentang saya:<br>
	                            - Sekolah :<br>
                                    + SDK. Slamet Riyadi<br>
                                    + SMPN 103 Jakarta<br>
                                    + SMAN 39 Jakarta<br>
                                    + Fasilkom Universitas Indonesia (sekarang)<br>
                                - Organisasi :<br>
                                    + Pengurus salah satu ekskul di SMA<br>
               
                    </p>
                  
    {% endblock %}       
         
</body>
</html>