{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% block heading %}
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="{% static 'story4.css' %}">
    {% endblock heading %}
</head>
<body>
    {%block content%}
    <p class="isi">
        Hai semua, nama saya Reka <br>
        Ini adalah website yang berisi tentang informasi saya, web ini saya yang <br>
        buat dan desain sendiri loh.<br>
        Saya adalah seorang programmer yang saat ini sedang belajar bagaimana<br>
        untuk menjadi seorang desainer web yang hebat.<br>
        Jika ingin melihat informasi lebih lanjut bisa scroll ke bawah<br>
        
        Alamat 	: Jl. Pesona IA no.30 Kalisari, Pasar Rebo, Jakarta Timur.<br>
        Kode Pos	: 13790<br>
        TTL		: Jakarta, 19 April 200<br>
        Nomor HP	: 082116322352<br>                
    </p>
    {% endblock %}             
    
</body>
</html>