.rowTitle{
    margin-bottom: 50px;
}

.logoNama {
    width: 200px;
    height: 150px;
}

.profil{
    margin-right: 50px;
}

.bakat{
    margin-right: 50px;
}

.riwayat{
    margin-right: 50px;
}
.hobi{
    margin-right: 50px;
}

.navbarku{
    margin-right: 0px;
    margin-left: 20px; 
}
.logoFace {
    margin-left: 10px;
    margin-right: 10px;
}
.fotoProfil{
    width: 90px;
    border-radius: 50%;
    margin-right: 10px;
}
@media screen and (max-width: 770px){
    .colLogo{
        margin-right: 10px;
    }
}

@media screen and (max-width: 520px){
    .fotoProfil{
        margin-left: 5px;
        width: 90px;
    }
    .logoFace{
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .logoinsta{
        margin-left: 50px;
        width: 80%;

    }
}
