<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="story4.css">  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block heading %} {% endblock heading %}
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="row"> 
            <div class="col-2 offset-md-2 offset-sm-2 colLogo">
                <div class="short-div fotoProfil">
                    <a class="clickFotoProfil" href="#">
                    <img class="fotoProfil" src="https://instagram.fcgk4-2.fna.fbcdn.net/vp/9f31042bd0657d1a65f9d1ac1b60fb6a/5D25013C/t51.2885-15/e35/41974063_2155705198014302_197054604127074740_n.jpg?_nc_ht=instagram.fcgk4-2.fna.fbcdn.net" alt="Foto">
                    </a>
                </div>
                <div class="short-div logos">
                    <a class="logoFace" href="https://www.facebook.com/reka.endaginting">
                    <img src="https://image.flaticon.com/icons/png/512/69/69407.png" alt="Facebook"  style="width: 20px;">
                    </a>
                    <a class="logoInsta" href="https://www.instagram.com/rekapaska/?hl=id">
                    <img src="https://image.flaticon.com/icons/png/512/69/69366.png" alt="Instagram"  style="width: 20px;">
                    </a>
                </div>
            </div>
            <div class="col-md-5 col-sm-3">
                {% block content %}
                {% endblock %}  
            </div> 
        </div>    
    </div>
    <div class= "row justify-content-center"> {% include "footer.html" %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         
</body>
</html>