<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<body>
        <div class="container">
                <div class="row justify-content-center rowTitle">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <img src="{% static 'logoNama.jpg' %}" class="rounded mx-auto d-block logoNama" alt="Reka Paska Enda">
                    </div>  
                </div>
            </div>
            <div class="container containNav">
                <div class="row justify-content-center">
                    <nav class="navbar navbar-expand-md navbar-light navbarku"> 
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu">Menu</span>
                        </button> 
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link profil" href="/">Profil<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bakat" href="/bakat/">Bakat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link riwayat" href="/riwayat/">Riwayat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link hobi" href="/hobi/">Hobi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link form" href="/formweb/">Form</a>
                                </li>
                                <!-- <li class="nav-item">
                                        <a class="nav-link" href="/formweb/">Formweb</a>
                                    </li> -->
                            </ul>
                        
                        </div>
                    </nav>
                </div>
            </div>
</body>
</html>