.panelPos{
    margin-left: 150px;  
}
.date{
    width: 200px;
    height: 100px;
}
@media screen and (max-width: 770px){
    .isi{
        width: 200px;
        height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth
    }
}
@media screen and (max-width: 520px){
    .isi{
        margin-left: 20px;
    }
   
